
<div class="container-fluid">
  <app-patient-header [user]="user"></app-patient-header>
<div class="container-fluid">
  <fieldset class="rounded" style="border:0.5px solid lightblue;padding: 40px;">
    <div class="table-responsive">
    <table class="table table-striped table-bordered" style="color: black;">
      <thead>
        <th>ID</th>
        <th>Chief Complaint</th>
        <th>Clinical Findings</th>
        <th>Treatment Plan</th>
        <th>Treatment Date</th>
       
      </thead>
      <tbody>
        @for (treatment of patientTreatments; track treatment.ID){
        <tr>
          <td><a style="text-decoration: underline solid blue 1px;cursor:pointer;" (click)="OnPatientIdClick(treatment.PatientID)">{{treatment.PatientID}}</a></td>
          <td>{{treatment.ChiefComplaint}}</td>
          <td>{{treatment.ClinicalFindings}}</td>
          <td>{{treatment.TreatmentPlan}}</td>
          <td>{{treatment.TreatmentDate}}</td>
        </tr>
       }
       @if (patientTreatments != undefined && patientTreatments.length == 0 ){
        <tr >
          <td colspan="6"><label id="lblNoRecordsError">No record found matching the search criteria</label></td>
        </tr>
      }
      </tbody>
    </table>
  </div>
  </fieldset>
</div>


