<div class="accordion" id="accPatientBaseInfo">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accPatientPersonalInfo"
          aria-expanded="true" aria-controls="accPatientPersonalInfo">
          Personal Information
        </button>
      </h2>
      <div id="accPatientPersonalInfo" class="accordion-collapse collapse show" data-bs-parent="#accPatientBaseInfo">
        <div class="accordion-body">
          <div class="container">
            <fieldset class="rounded" style="border:0.5px solid lightblue;padding: 40px;">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtFirstName" class="form-label">First Name</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtFirstName" class="form-control"  placeholder="FirstName" [ngModel]="user?.FirstName" (ngModelChange)="user && (user.FirstName = $event)" minlength="3" maxlength="50" required=""> 
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtLastName" class="form-label">Last Name</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtLastName" name="txtLastName" class="form-control" required [ngModel]="user?.LastName" (ngModelChange)="user && (user.LastName = $event)"  minlength="3" maxlength="50">
              </div>
            </div>
            
            <br />
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtAge" class="form-label">Age</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="number" id="txtAge" min="1" max="105" class="form-control" required [ngModel]="user?.Age" (ngModelChange)="user && (user.Age = $event)"  min="0" max="150">
              </div>
              <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="rdGender" class="form-label">Gender</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="radio" id="rdGenderMale" name="gender" class="form-check-input" value="1" [checked]="user?.Gender === 1" (change)="user && (user.Gender = 1)">
                <label class="form-check-label" for="rdGenderMale">Male</label>&nbsp;&nbsp;
                <input type="radio" id="rdGenderFemale" name="gender" class="form-check-input" value="2" [checked]="user?.Gender === 2" (change)="user && (user.Gender = 2)">
                <label class="form-check-label" for="rdGenderFemale">Female</label>&nbsp;&nbsp;
                <input type="radio" id="rdGenderOther" name="gender" class="form-check-input" value="3" [checked]="user?.Gender === 3" (change)="user && (user.Gender = 3)">
                <label class="form-check-label" for="rdGenderOther">Other</label>&nbsp;&nbsp;
                <input type="radio" id="rdGenderPreferNotToSay" name="gender" class="form-check-input" value="4" [checked]="user?.Gender === 4" (change)="user && (user.Gender = 4)">
                <label class="form-check-label" for="rdGenderPreferNotToSay">Prefer Not to Say</label>
              </div>
            </div>
            <br />
             <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtUserName" class="form-label">User Name</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtUserName" class="form-control"  placeholder="UserName" [ngModel]="user?.UserName" (ngModelChange)="user && (user.UserName = $event)" minlength="3" maxlength="50" required=""> 
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtPassword" class="form-label">Password</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="password" id="txtPassword" name="txtPassword" class="form-control" required [ngModel]="user?.Password" (ngModelChange)="user && (user.Password = $event)"  minlength="3" maxlength="50">
              </div>
            </div>
            
            <br />
             <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="cbUserType" class="form-label">User Type</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <select id="cbUserType" class="form-select" [ngModel]="user?.UserType" (ngModelChange)="onUserTypeChange($event)" required>
                  <option value=1>Patient</option>
                  <option value=2>Doctor</option>
                  <option value=5>Administrator</option>
                </select> 
              </div>
            </div>
            <br />
            @if(user?.UserType === 2) {
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtDesignation" class="form-label">Designation</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtDesignation" class="form-control"  placeholder="Designation" [ngModel]="user?.Designation" (ngModelChange)="user && (user.Designation = $event)"> 
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtSpecialization" class="form-label">Specialization</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtSpecialization" class="form-control"  placeholder="Specialization" [ngModel]="user?.Specialization" (ngModelChange)="user && (user.Specialization = $event)" > 
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtLicenseNumber" class="form-label">License Number</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtLicenseNumber" class="form-control"  placeholder="License Number" [ngModel]="user?.LicenseNumber" (ngModelChange)="user && (user.LicenseNumber = $event)" > 
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtLicenseExpiryDate" class="form-label">License Expiry Date</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="date" id="txtLicenseExpiryDate" class="form-control"  placeholder="License Expiry Date" [ngModel]="user?.LicenseExpiryDate" (ngModelChange)="user && (user.LicenseExpiryDate = $event)"> 
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
            </div>
          }
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#accPatientAddress" aria-expanded="false" aria-controls="accPatientAddress">
          Patient Address
        </button>
      </h2>
      <div id="accPatientAddress" class="accordion-collapse collapse show" data-bs-parent="#accPatientBaseInfo">
        <div class="accordion-body">
          <div class="container">
            <fieldset class="rounded" style="border:0.5px solid lightblue;padding: 40px;">
            <ul class="nav nav-tabs nav-justified" id="tbAddress" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tbPermanantAddress-tab" data-bs-toggle="tab"
                  data-bs-target="#tbPermanantAddress" type="button" role="tab" aria-controls="tbPermanantAddress"
                  aria-selected="true">Permanant Address</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="tbCorespondenceAddress-tab" data-bs-toggle="tab"
                  data-bs-target="#tbCorespondenceAddress" type="button" role="tab" aria-controls="tbCorespondenceAddress"
                  aria-selected="false">Corespondence Address</button>
              </li>
            </ul>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="tbPermanantAddress" role="tabpanel"
                aria-labelledby="tbPermanantAddress-tab">
                <br />
                <div class="row">
                  <div class="col-2">
                    <label for="txtPermAddress1" class="form-label">Address Line 1</label>
                  </div>
                  <div class="col-9">
                    <input type="text" id="txtPermAddress1" class="form-control" [ngModel]="address?.PermAddress1" (ngModelChange)="address && (address.PermAddress1 = $event)">
                  </div>
                </div>
               <br />
                <div class="row">
                  <div class="col-2">
                    <label for="txtPermAddress2" class="form-label">Address Line 2</label>
                  </div>
                  <div class="col-9">
                    <input type="text" id="txtPermAddress2" class="form-control" [ngModel]="address?.PermAddress2" (ngModelChange)="address && (address.PermAddress2 = $event)">
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-xs-12 col-sm-5 col-md-2">
                    <label for="txtPermCity" class="form-label">City</label>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-3">
                    <input type="text" id="txtPermCity" class="form-control" [ngModel]="address?.PermCity" (ngModelChange)="address && (address.PermCity = $event)">
                  </div>
                  <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
                  <div class="col-xs-12 col-sm-5 col-md-2">
                    <label for="txtPermState" class="form-label">State</label>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-3">
                    <input type="text" id="txtPermState" class="form-control" [ngModel]="address?.PermState" (ngModelChange)="address && (address.PermState = $event)">
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-xs-12 col-sm-5 col-md-2">
                    <label for="txtPermCountry" class="form-label">Country</label>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-3">
                    <input type="text" id="txtPermCountry" class="form-control" [ngModel]="address?.PermCountry" (ngModelChange)="address && (address.PermCountry = $event)">
                  </div>
                  <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
                  <div class="col-xs-12 col-sm-5 col-md-2">
                    <label for="txtPermZipCode" class="form-label">Zip Code</label>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-3">
                    <input type="text" id="txtPermZipCode" class="form-control" [ngModel]="address?.PermZipCode" (ngModelChange)="address && (address.PermZipCode = $event)">
                  </div>
                </div>
              </div>
  
              <div class="tab-pane fade" id="tbCorespondenceAddress" role="tabpanel"
                aria-labelledby="tbCorespondenceAddress-tab">
                <br />
                <div class="row">
                  <div class="col-12" style="align-content:end;align-items: end;text-align: end;">
                    <label type="button" style="color: cornflowerblue;cursor: pointer;" (click)="CopyAddress()">Same as correspondence address</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <label for="txtCorsAddress1" class="form-label">Address Line 1</label>
                  </div>
                  <div class="col-9">
                    <input type="text" id="txtCorsAddress1" class="form-control" [ngModel]="address?.CorrAddress1" (ngModelChange)="address && (address.CorrAddress1 = $event)">
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-2">
                    <label for="txtCorsAddress2" class="form-label">Address Line 2</label>
                  </div>
                  <div class="col-9">
                    <input type="text" id="txtCorsAddress2" class="form-control" [ngModel]="address?.CorrAddress2" (ngModelChange)="address && (address.CorrAddress2 = $event)">
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-xs-12 col-sm-5 col-md-2">
                    <label for="txtCorsCity" class="form-label">City</label>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-3">
                    <input type="text" id="txtCorsCity" class="form-control" [ngModel]="address?.CorrCity" (ngModelChange)="address && (address.CorrCity = $event)">
                  </div>
                  <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
                  <div class="col-xs-12 col-sm-5 col-md-2">
                    <label for="txtCorsState" class="form-label" >State</label>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-3">
                    <input type="text" id="txtCorsState" class="form-control" [ngModel]="address?.CorrState" (ngModelChange)="address && (address.CorrState = $event)">
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-xs-12 col-sm-5 col-md-2">
                    <label for="txtCorsCountry" class="form-label">Country</label>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-3">
                    <input type="text" id="txtCorsCountry" class="form-control" [ngModel]="user?.Address?.CorrCountry" (ngModelChange)="user?.Address && (user.Address.CorrCountry = $event)">
                  </div>
                  <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
                  <div class="col-xs-12 col-sm-5 col-md-2">
                    <label for="txtCorsZipCode" class="form-label">Zip Code</label>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-md-3">
                    <input type="text" id="txtCorsZipCode" class="form-control" [ngModel]="user?.Address?.CorrZipCode" (ngModelChange)="address && (address.CorrZipCode = $event)">
                  </div>
                </div>
              </div>
            </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#accPatientContact" aria-expanded="false" aria-controls="accPatientContact">
          Patient Contact
        </button>
      </h2>
      <div id="accPatientContact" class="accordion-collapse collapse show" data-bs-parent="#accPatientBaseInfo">
        <div class="accordion-body">
          <div class="container">
            <fieldset class="rounded" style="border:0.5px solid lightblue;padding: 40px;">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtPrimaryPhone" class="form-label">Primary Phone</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtPrimaryPhone" class="form-control" [ngModel]="contact?.PrimaryPhone" (ngModelChange)="contact && (contact.PrimaryPhone = $event)" required>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtSecondaryPhone" class="form-label">Secondary Phone</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtSecondaryPhone" class="form-control" [ngModel]="contact?.SecondaryPhone" (ngModelChange)="contact && (contact.SecondaryPhone = $event)">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtPrimaryEmail" class="form-label">Primary Email</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="email" id="txtPrimaryEmail" class="form-control" [ngModel]="contact?.PrimaryEmail" (ngModelChange)="contact && (contact.PrimaryEmail = $event)">
              </div>
              <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtSecondaryEmail" class="form-label">Secondary Email</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="email" id="txtSecondaryEmail" class="form-control" [ngModel]="contact?.SecondaryEmail" (ngModelChange)="contact && (contact.SecondaryEmail = $event)">
              </div>
            </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#accPatientEmergency" aria-expanded="false" aria-controls="accPatientEmergency">
          Patient Emergency Contact
        </button>
      </h2>
      <div id="accPatientEmergency" class="accordion-collapse collapse show" data-bs-parent="#accPatientBaseInfo">
        <div class="accordion-body">
          <div class="container">
            <div class="rounded" style="border:0.5px solid lightblue;padding: 40px;">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtEmemergencyContactName" class="form-label">Emmergency Contact Name</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtEmemergencyContactName" class="form-control" [ngModel]="contact?.RelativeName" (ngModelChange)="contact && (contact.RelativeName = $event)">
              </div>
              <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtEmemergencyContactRelation" class="form-label">Ememergency Contact Relation</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtEmemergencyContactRelation" class="form-control" [ngModel]="contact?.RelativeRealtion" (ngModelChange)="contact && (contact.RelativeRealtion = $event)">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtEmemergencyContactEmail" class="form-label">Emmergency Contact Email</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtEmemergencyContactEmail" class="form-control" [ngModel]="user?.Contact?.RelativeEmail" (ngModelChange)="user?.Contact && (contact.RelativeEmail = $event)">
              </div>
              <div class="col-xs-12 col-sm-2 col-md-1">&nbsp;</div>
              <div class="col-xs-12 col-sm-5 col-md-2">
                <label for="txtEmemergencyContactPhone" class="form-label">Ememergency Contact Phone</label>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-3">
                <input type="text" id="txtEmemergencyContactPhone" class="form-control" [ngModel]="contact?.RelativePhone" (ngModelChange)="contact && (contact.RelativePhone = $event)">
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
     <div class="row">
      <div class="col">
        <button type="button" id="btnPatientSave" class="btn btn-primary" style="width: 25%;"
          (click)="SaveUserInformation()">Save</button>
      </div>
      <div class="col">
        <button type="button" id="btnPatientClear" class="btn btn-secondary" style="width: 25%;"
          (click)="ClearUserInformation()">Clear</button>
      </div>
      <div class="col">
        <button type="button" id="btnPatientDelete" class="btn btn-secondary" style="width: 25%;"
          (click)="DeleteUserInformation()">Delete</button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />