<div class="container-fluid">
  <br />
  <div class="rounded p-3 p-md-4" style="border:0.5px solid lightblue;">
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th colspan="4" class="text-end">
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#addAppointmentModal">
                    Add Row
                  </button>
                </th>
              </tr>
              <tr>
                <th class="text-nowrap">Start Date</th>
                <th class="text-nowrap">End Date</th>
                <th class="text-nowrap">Doctor</th>
                <th class="text-nowrap">Patient</th>
                <th class="text-nowrap">Treatment</th>
              </tr>
            </thead>
            <tbody>
              @for( appointment of appointments; track appointment.ID) {
              <tr>
                <td class="text-nowrap">{{appointment.StartDateTime}}</td>
                <td class="text-nowrap">{{appointment.EndDateTime}}</td>
                <td>{{appointment.DoctorName}}</td>
                <td>{{appointment.PatientName}}</td>
                <td>{{appointment.TreatmentName}}</td>
              </tr>
              }
            </tbody>
          </table>
          <app-paging [totalItems]="totalItems" [pageSize]="pageSize" [currentPage]="currentPage"
            (pageChange)="onPageChange($event)">
          </app-paging>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="rounded p-3 p-md-4" style="border:0.5px solid lightblue;">
    <div class="row">
      <div class="col">
        <app-scheduler></app-scheduler>
      </div>
    </div>
  </div>
</div>