<div class="container-fluid">
  <br />
  <div class="rounded p-3 p-md-4" style="border:0.5px solid lightblue;">
    <div class="row d-none d-md-flex d-xl-none">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="4" class="text-end">
                  <button type="button" id="btnAddNewAppointment" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#addAppointmentModal" (click)="InitializeNewAppointment()">
                    Add New Appointment
                  </button>
                </th>
              </tr>
              <tr>
                <th class="text-nowrap">Start Date</th>
                <th class="text-nowrap">End Date</th>
                <th class="text-nowrap">Doctor</th>
                <th class="text-nowrap">Patient</th>
                <th class="text-nowrap">Treatment</th>
              </tr>
            </thead>
            <tbody>

              @for( appointment of appointments; track appointment.ID) {
              <tr>
                <td class="text-nowrap">{{appointment.StartDateTime}}</td>
                <td class="text-nowrap">{{appointment.EndDateTime}}</td>
                <td>{{appointment.DoctorName}}</td>
                <td>{{appointment.PatientName}}</td>
                <td>{{appointment.TreatmentName}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--Mobile Version Table-->
    <div class="row d-block d-md-none">
      <div class="col-12">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th colspan="2" class="text-end">
                <button type="button" id="btnAddNewAppointmentMobile" class="btn btn-primary btn-sm"
                  data-bs-toggle="modal" data-bs-target="#addAppointmentModal" (click)="InitializeNewAppointment()">
                  Add New Appointment
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            @for( appointment of appointments; track appointment.ID) {
            <tr>
              <td>
                <strong>Start Date:</strong> {{appointment.StartDateTime}}<br />
                <strong>End Date:</strong> {{appointment.EndDateTime}}<br />
                <strong>Doctor:</strong> {{appointment.DoctorName}}<br />
                <strong>Patient:</strong> {{appointment.PatientName}}<br />
                <strong>Treatment:</strong> {{appointment.TreatmentName}}<br />
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
        <app-paging [totalItems]="totalItems" [pageSize]="pageSize" [currentPage]="currentPage"
          (pageChange)="onPageChange($event)">
        </app-paging>
      </div>
    </div>
  </div>
  <br />
  <div class="rounded p-3 p-md-4" style="border:0.5px solid lightblue;">
    <div class="row">
      <div class="col">
        <app-scheduler (onNavigationChange)="NavigationChange($event)"
          (onTimeRangeSelectedEvent)="onTimeRangeSelectedEvent($event)">
        </app-scheduler>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="addAppointmentModal" tabindex="-1"
  aria-labelledby="addAppointmentModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="apptModalLabel">Add Appointment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br />
        <div class="row">
          <div class="col">
            <label for="txtAppointmentDate" class="form-label">Appointment Date</label>
          </div>
          <div class="col">
            <input type="date" id="txtAppointmentDate" class="form-control" min="2024-01-01" max="2025-12-31"
              [ngModel]="this.newAppointment?.StartDateTime" (ngModelChange)="newAppointment.StartDateTime = $event">
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="txtAppointmentTime" class="form-label">Appointment Start Time</label>
          </div>
          <div class="col">
            <input type="time" id="txtAppointmentTime" class="form-control" step="1800">
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="txtAppointmentEndTime" class="form-label">Appointment End Time</label>
          </div>
          <div class="col">
            <input type="time" id="txtAppointmentEndTime" class="form-control">
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="txtApptPatientName" class="form-label">Patient Name</label>
          </div>
          <div class="col">
            <app-typeahead [minLength]="2" [debounce]="300" [searchFn]="getPatients" [displayWith]="displayName"
              (selectItem)="newAppointment.PatientID = $event.PatientID; newAppointment.PatientName = $event.FirstName + ' ' + $event.LastName; newAppointment.UserID = $event.UserID">
            </app-typeahead>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="txtApptDoctorName" class="form-label">Doctor Name</label>
          </div>
          <div class="col">
            <app-typeahead [minLength]="2" [debounce]="300" [searchFn]="getDoctors" [displayWith]="displayName"
              (selectItem)="newAppointment.DoctorID = $event.UserID; newAppointment.DoctorName = $event.FirstName + ' ' + $event.LastName">
            </app-typeahead>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="txtApptProcedure" class="form-label">Procedure</label>
          </div>
          <div class="col">
            <input type="text" id="txtApptProcedure" class="form-control" [ngModel]="newAppointment?.TreatmentName"
              (ngModelChange)="newAppointment.TreatmentName = $event">
          </div>
        </div>
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="SaveAppointment()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>